# **Control and Loop**

In [ ]:
#1. Iterate 10 to 0 using for loop, do the same using while loop
for i in range(10,-1,-1):
  print(i)

In [ ]:
#2.Write a loop that makes seven calls to print(), so we get on the output the following triangle:
  #
  ##
  ###
  ####
  #####
  ######
  #######
for i in range(1,8):
  print("#"*i)

In [ ]:
#3.Print the following pattern:
#0 x 0 = 0
#1 x 1 = 1
#2 x 2 = 4
#3 x 3 = 9
#4 x 4 = 16
#5 x 5 = 25
#6 x 6 = 36
#7 x 7 = 49
#8 x 8 = 64
#9 x 9 = 81
#10 x 10 = 100
for i in range(11):
  result=i*i
  print(i,"x",i,"=",result)

In [ ]:
#4. Use for loop to iterate from 0 to 100 and print only even numbers
for i in range(0,100):
  if i %2==0:
    print(i)
    i+=1

In [ ]:
#5. Use for loop to iterate from 0 to 100 and print only odd numbers
for i in range(0,101):
  if i % 2==1:
    print(i)
    i+=1

In [ ]:
#6. Use for loop to iterate from 0 to 100 and print the sum of all numbers.
# The sum of all numbers is 5050.

sum=0
for i in range(101):
  sum+=i
print("The sum of all number is ",sum)

In [ ]:
#7.Use for loop to iterate from 0 to 100 and print the sum of all evens and the
#sum of all odds.

even=0
odd=0
for i in range(101):
  if i % 2==0:
    even +=i
  else:
    odd +=i
print("sum of even",even)
print("sum of odd",odd)

In [ ]:
#8. This is a fruit list, ['banana', 'orange', 'mango', 'lemon'] reverse the order using loop

fruit=['banana', 'orange', 'mango', 'lemon']
reversed_list=[]
for i in range(len(fruit) - 1, -1, -1):
  reversed_list.append(fruit[i])
print(reversed_list)

In [ ]:
#9.Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for
#loop and print out the items.

li=['Python', 'Numpy','Pandas','Django', 'Flask']
for i in li:
  print(i)