# **List Exercises**

In [ ]:
# 1. Declare an empty list

empty_list=[]
print(empty_list)

[]

In [ ]:
# 2. Declare a list with more than 5 items

item=['python',525,'lemon',2.3,3+4j]
print(item)

['python', 525, 'lemon', 2.3, (3+4j)]

In [ ]:
# 3. Find the length of your list
fruits = ["Apple", "Banana", "Mango", "Orange", "Grapes", "Pineapple", "Cherry"]
print(len(fruits))

7

In [ ]:
# 4.Get the first item, the middle item and the last item of the list

fruits = ["Apple", "Banana", "Mango","Grapes", "Pineapple"]
print(fruits[0])
print(fruits[2])
print(fruits[-1])

Apple
Mango
Pineapple

In [ ]:
# 5.Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

mixed_data_types=["vaishnav",20,5.95,'single',"kollam ,kerala"]
print(mixed_data_types)

['vaishnav', 20, 5.95, 'single', 'kollam ,kerala']

In [ ]:
# 6. Declare a list variable named it_companies and assign initial values
# Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

it_companies=["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle","Amazon"]
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
#7. Print the list using print()
lis=["abc",123,"lime",(3+4j)]
print(lis)

['abc', 123, 'lime', (3+4j)]

In [ ]:
# 8. Print the number of companies in the list

companies=["Rolls-Royce", "Bentley", "Lamborgini", "BMW", "Toyota", "Mazda","Pagani"]
print("Number of companies:",len(companies))

Number of companies: 7

In [ ]:
# 9. Print the first, middle and last company

companies=["Rolls-Royce", "Bentley", "Lamborgini", "BMW", "Toyota", "Mazda","Pagani"]
print("First companies:",companies[0])
print("Middle companies:",companies[len(companies)//2])
print("Last companies:",companies[-1])

First companies: Rolls-Royce
Middle companies: BMW
Last companies: Pagani

In [ ]:
# 10. Print the list after modifying one of the companies
companies=["Rolls-Royce", "Bentley", "Lamborgini", "BMW", "Toyota", "Mazda","Pagani"]
print(companies)
companies[5]="Google"
print(companies)

['Rolls-Royce', 'Bentley', 'Lamborgini', 'BMW', 'Toyota', 'Mazda', 'Pagani']
['Rolls-Royce', 'Bentley', 'Lamborgini', 'BMW', 'Toyota', 'Google', 'Pagani']

In [ ]:
# 11. Add an IT company to it_companies

it_companies=["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle","Amazon"]
print(it_companies)
it_companies.append("Ebay")
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Ebay']

In [ ]:
# 12. Insert an IT company in the middle of the companies list

it_companies=["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle","Amazon"]
print(it_companies)
it_companies.insert(len(it_companies)//2, "Ebay")
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Facebook', 'Google', 'Microsoft', 'Ebay', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
# 13. Change one of the it_companies names to uppercase (IBM excluded!)

it_companies=["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle","Amazon"]
it_companies[0]=it_companies[0].upper()
print(it_companies)

['FACEBOOK', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
# 14. Join the it_companies with a string '#;  '

it_companies=["Facebook", "Google", "Microsoft"]
string="#"
jo_company=string.join(it_companies)
print(jo_company)

#OR
it_companies=["Facebook", "Google", "Microsoft"]
string="#"
company=it_companies+[string]
print(company)

Facebook#Google#Microsoft
['Facebook', 'Google', 'Microsoft', '#']

In [ ]:
# 15. Check if a certain company exists in the it_companies list.

it_companies=["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle","Amazon"]
if "IBM" in  it_companies:
  print("True")
else:
  print("False")

True

In [ ]:
# 16. Sort the list using sort() method
it_companies=["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle","Amazon"]
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']

In [ ]:
# 17. Reverse the list in descending order using reverse() method

fruit=['banana', 'orange', 'mango', 'lemon','cherry','kiwi']
fruit.sort()
print(fruit)
fruit.reverse()
print()
print(fruit)

['banana', 'cherry', 'kiwi', 'lemon', 'mango', 'orange']

['orange', 'mango', 'lemon', 'kiwi', 'cherry', 'banana']

In [ ]:
# 18. Slice out the first 3 companies from the list
it_companies=["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle","Amazon"]
print("Firts 3 companies are:",it_companies[0:3])

Firts 3 companies are: ['Facebook', 'Google', 'Microsoft']

In [ ]:
# 19. Slice out the last 3 companies from the list
it_companies=["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle","Amazon"]
print("last 3 companies are:",it_companies[4:])

last 3 companies are: ['IBM', 'Oracle', 'Amazon']

In [ ]:
# 20. Slice out the middle IT company or companies from the list
it_companies=["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle","Amazon"]
print("Middle companies are:",it_companies[len(it_companies)//2])

Middle companies are: Apple

In [ ]:
# 21. Remove the first IT company from the list
it_companies=["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle","Amazon"]
it_companies.pop(0)

'Facebook'

In [ ]:
# 22. Remove the middle IT company or companies from the list

it_companies=["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle","Amazon"]
it_companies.pop(len(it_companies)//2)

'Apple'

In [ ]:
# 23. Remove the last IT company from the list
it_companies=["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle","Amazon"]
it_companies.pop(-1)

'Amazon'

In [ ]:
# 24. Remove all IT companies from the list
it_companies=["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle","Amazon"]
it_companies.clear()
print(it_companies)

[]

In [ ]:
# 25. Destroy the IT companies list
it_companies=["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle","Amazon"]
del it_companies

In [ ]:
# 26. Join the following lists:
# front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
# back_end = ['Node','Express', 'MongoDB']

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
front_end.extend(back_end)
print(front_end)

#OR

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
i=front_end + back_end
print(i)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [ ]:
# 27. After joining the lists in question 26. Copy the joined list and assign it to a
# variable full_stack, then insert Python and SQL after Redux.

full_stack=['HTML', 'CSS', 'JS', 'React', 'Redux','Node','Express', 'MongoDB']
full_stack.insert(5,"Python")
full_stack.insert(6,"SQL")
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

In [ ]:
#28. Sort the list and find the min and max age
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print("sorted list are ",ages)
print("Max age",max(ages))
print("MIN age",min(ages))

sorted list are  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Max age 26
MIN age 19

In [ ]:
#29. Add the min age and the max age again to the list
ages.append(max(ages))
ages.append(min(ages))
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26, 19]

In [ ]:
#30. Find the median age (one middle item or two middle items divided by two)
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
n=len(ages)
mid=n//2
if n%2==0:
  median=(ages[mid-1]+ages[mid])/2
else:
  median=ages[mid]
print(median)

24.0

In [ ]:
#31. Find the average age (sum of all items divided by their number )

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
average_age=sum(ages)/len(ages)
print(average_age)

22.8

In [ ]:
#32. Find the range of the ages (max minus min)
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
range=max(ages)-min(ages)
print(range)

7

In [ ]:
#33. Compare the value of (min - average) and (max - average), use abs() method
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()

In [ ]:
#34. Find the middle country(ies) in the countries list
countries=['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
n=len(countries)
mid = n//2
if n % 2 == 0:
    middle = countries[mid - 1: mid + 1]
else:
    middle = [countries[mid]]
print("Middle country(ies):", middle)

Middle country(ies): ['Finland']

In [ ]:
#35. Divide the countries list into two equal lists if it is even if not one more country for the first half.
countries=['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
n=len(countries)
if n % 2 == 0:
    midpoint = n // 2
else:
    midpoint= (n // 2) + 1
first_half=countries[:midpoint]
second_half=countries[midpoint:]
print("orginal list:",countries)
print("First half:",first_half)
print("Second half:",second_half)

orginal list: ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
First half: ['China', 'Russia', 'USA', 'Finland']
Second half: ['Sweden', 'Norway', 'Denmark']

In [ ]:
#36. ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the
# first three countries and the rest as scandic countries.

countries=['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
print("First country:",countries[0])
print("Second country:",countries[1])
print("Third country:",countries[2])
print("Scandic country:",countries[3:])

First country: China
Second country: Russia
Third country: USA
Scandic country: ['Finland', 'Sweden', 'Norway', 'Denmark']

# **Tuple Assigment**

In [ ]:
# 1. Create an empty tuple
A=()

In [ ]:
# 2. Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)

sibling=('Luffy','Zoro','Usopp','Nami','Robin')
print(sibling)

('Luffy', 'Zoro', 'Usopp', 'Nami', 'Robin')

In [ ]:
# 3. Join brothers and sisters tuples and assign it to siblings
brothers=('Luffy','Zoro','Usopp')
sisters=('Nami', 'Robin','Shirahosi')
siblings=brothers+sisters
print(siblings)

('Luffy', 'Zoro', 'Usopp', 'Nami', 'Robin', 'Shirahosi')

In [ ]:
# 4. How many siblings do you have?
len(siblings)

6

In [ ]:
# 5. Modify the siblings tuple and add the name of your father and mother and assign it to family_members

siblings = ("Anna", "Abhi", "Mia", "George")
parents = ("Michael", "Emma")
family_members = siblings + parents
print(family_members)

('Anna', 'Abhi', 'Mia', 'George', 'Michael', 'Emma')

In [ ]:
# 6. Unpack siblings and parents from family_members

(a,b,c,d,p1,p2)=family_members
print("Siblings:",a,b,c,d)
print("Parents:",p1,p2)

Siblings: Anna Abhi Mia George
Parents: Michael Emma

In [ ]:
# 7. Create fruits, vegetables and animal products tuples. Join the three tuples and
# assign it to a variable called food_stuff_tp.

fruits=('Apple', 'Banana', 'Orange', 'Mango')
vegetables=('Carrot', 'Potato', 'Onion', 'Tomato')
animal_products=('milk','eggs','meat','honey')
food_stuff_tp=fruits + vegetables + animal_products
print(food_stuff_tp)

('Apple', 'Banana', 'Orange', 'Mango', 'Carrot', 'Potato', 'Onion', 'Tomato', 'milk', 'eggs', 'meat', 'honey')

In [ ]:
# 8. Change the about food_stuff_tp tuple to a food_stuff_lt list

food_stuff_lt=list(food_stuff_tp)
print(food_stuff_lt)

['Apple', 'Banana', 'Orange', 'Mango', 'Carrot', 'Potato', 'Onion', 'Tomato', 'milk', 'eggs', 'meat', 'honey']

In [ ]:
# 9. Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.
food_stuff_lt=['Apple', 'Banana', 'Orange', 'Mango', 'Carrot', 'Potato', 'Onion', 'Tomato', 'milk', 'eggs', 'meat', 'honey']
middle_item= food_stuff_lt[len(food_stuff_lt)//2 - 1 : len(food_stuff_lt)//2 + 1]
print("Middle item :", middle_item)

Middle item : ['Potato', 'Onion']

In [ ]:
# 10.  Slice out the first three items and the last three items from food_staff_lt list

food_stuff_lt=['Apple', 'Banana', 'Orange', 'Mango', 'Carrot', 'Potato', 'Onion', 'Tomato', 'milk', 'eggs', 'meat', 'honey']
print("First 3 items :",food_stuff_lt[0:3])
print("last 3 items :",food_stuff_lt[-3: ])

First 3 items : ['Apple', 'Banana', 'Orange']
last 3 items : ['eggs', 'meat', 'honey']

In [ ]:
# 11. Delete the food_staff_tp tuple completely
food_stuff_tp=('Apple', 'Banana', 'Orange', 'Mango', 'Carrot', 'Potato', 'Onion', 'Tomato', 'milk', 'eggs', 'meat', 'honey')
del food_stuff_tp

In [ ]:
# 12. Check if an item exists in tuple:
# Check if 'Estonia' is a nordic country
# Check if 'Iceland' is a nordic country
# nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')
print("Estonia is a nordic country:",'Estonia'  in nordic_countries)
print("Iceland is a nordic country:",'Iceland' in nordic_countries)

#OR
for country in ['Estonia', 'Iceland']:
  if country in nordic_countries:
    print(country,"is in nordic country")
  else:
    print(country, "is not  in nordic country")

Estonia is a nordic country: False
Iceland is a nordic country: True
Estonia is not  in nordic country
Iceland is in nordic country

# **Set Assigment**

In [ ]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [ ]:
# 1. Find the length of the set it_companies
len(it_companies)

7

In [ ]:
# 2.Add 'Twitter' to it_companies
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies.add('Twitter')
print(it_companies)

{'Oracle', 'Microsoft', 'IBM', 'Google', 'Twitter', 'Apple', 'Amazon', 'Facebook'}

In [ ]:
# 3. Insert multiple IT companies at once to the set it_companies
it_companies.update(['Black Rock','Nvidia','MSI'])
print(it_companies)

{'Google', 'Oracle', 'IBM', 'Twitter', 'Apple', 'Nvidia', 'Amazon', 'Facebook', 'Microsoft', 'Black Rock', 'MSI'}

In [ ]:
# 4. Remove one of the companies from the set it_companies
it_companies.remove('Apple')
print(it_companies)

{'Google', 'Oracle', 'IBM', 'Twitter', 'Nvidia', 'Amazon', 'Facebook', 'Microsoft', 'Black Rock', 'MSI'}

In [ ]:
# 5. What is the difference between remove and discard
it_companies.remove('Apple')
print(it_companies)

KeyError: 'Apple'

In [ ]:
it_companies.discard('Apple')
print(it_companies)

{'Google', 'Oracle', 'IBM', 'Twitter', 'Nvidia', 'Amazon', 'Facebook', 'Microsoft', 'Black Rock', 'MSI'}

In [ ]:
# 6. Join A and B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
C=A | B
print(C)

{19, 20, 22, 24, 25, 26, 27, 28}

In [ ]:
# 7. Find A intersection B
A & B

{19, 20, 22, 24, 25, 26}

In [ ]:
# 8. Is A subset of B
print(A.issubset(B))

True

In [ ]:
# 9. Are A and B disjoint sets
print(A.isdisjoint(B))

False

In [ ]:
# 10. Join A with B and B with A
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
C=A | B
D=(B.union(A))
print(C)
print(D)

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

In [ ]:
# 11. What is the symmetric difference between A and B
print(A.symmetric_difference(B))

{27, 28}

In [ ]:
 # 12. Delete the sets completely
 del A
 del B

In [ ]:
# 13. Convert the ages to a set and compare the length of the list and the set, which one is bigger?
ages = [22, 19, 24, 25, 26, 24, 25, 24]
age = set(ages)
print(age)
length_list=len(ages)
length_set=len(age)
if length_list > length_set:
  print("List is bigger",length_list)
elif length_list < length_set:
  print("Set is bigger:",length_set)
else:
  print("both are equal",length_list)

{19, 22, 24, 25, 26}
List is bigger 8

In [ ]:
# 14. "I am a teacher and I love to inspire and teach people."
# How many unique words have been used in the sentence? Use the split methods and set to get the unique words.
sentences="I am a teacher and I love to inspire and teach people."
words=sentences.split()
length=len(words)
unique=set(words)
print(unique)
print(words)

{'a', 'am', 'teacher', 'people.', 'and', 'inspire', 'I', 'to', 'love', 'teach'}
['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people.']

In [ ]:
# 15. Explain the difference between the following data types: string, list, tuple and set

# String :- are immutable,can't change a character after creation
s = "Hello"
print(s)
print(s[1])

# List :-are mutable ,we can modify, append, and delete elements.
l = [1, 2, 3]
l.append(4)
print(l)

# Tuple :- are immutable ,once created, we can't change them
t = (1, 2, 3)
print(t[0])

# Set :- only unique elements and  unordered ,duplicates are removed
set_companies = {"Google", "Apple", "Microsoft"}
set_companies.add("Amazon")
print(set_companies)

Hello
e
[1, 2, 3, 4]
1
{'Apple', 'Microsoft', 'Amazon', 'Google'}

#**Dictionaries - Exercises**

In [ ]:
# 1. Create an empty dictionary called dogs
dogs={}

In [ ]:
# 2. Add name, color, breed, legs, age to the dog dictionary
dogs={
    "name": "Buddy",
    "age": 5,
    "breed": "Siberian Husky",
    "color": "Golden",
    "legs": 4
}
print(dogs)

{'name': 'Buddy', 'age': 5, 'breed': 'Siberian Husky', 'color': 'Golden', 'legs': 4}

In [ ]:
# 3. Create a student dictionary and add first_name, last_name, gender, age,
    # marital status, skills, country, city and address as keys for the dictionary

student=dict(first_name = 'Zenistu',
              last_name = 'Agatsuma',
              gender = 'Male',
              age = '16',
              marital_status = 'Single',
              skills = ['Problem solving'],
              country = 'Japan',
              city = 'Kyoto',
              address = "123, MG Road")
print(student)

{'first_name': 'Zenistu', 'last_name': 'Agatsuma', 'gender': 'Male', 'age': '16', 'marital_status': 'Single', 'skills': ['Problem solving'], 'country': 'Japan', 'city': 'Kyoto', 'address': '123, MG Road'}

In [ ]:
# 4. Get the length of the student dictionary
len(student)

9

In [ ]:
# 5. Get the value of skills and check the data type, it should be a list
print(student.get("skills"))
print(type(student['skills']))

['Problem solving']
<class 'list'>

In [ ]:
# 6. Modify the skills values by adding one or two skills
student.get("skills")
student['skills'].extend(["Time management","Communication"])
print(student)

{'first_name': 'Zenistu', 'last_name': 'Agatsuma', 'gender': 'Male', 'age': '16', 'marital_status': 'Single', 'skills': ['Problem solving', 'Time management', 'Communication'], 'country': 'Japan', 'city': 'Kyoto', 'address': '123, MG Road'}

In [ ]:
# 7. Get the dictionary keys as a list
keys_list = list(student.keys())
print(keys_list)

['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']

In [ ]:
# 8. Get the dictionary values as a list
print(list(student.values()))

['Zenistu', 'Agatsuma', 'Male', '16', 'Single', ['Problem solving', 'Time management', 'Communication'], 'Japan', 'Kyoto', '123, MG Road']

In [ ]:
# 9. Change the dictionary to a list of tuples using items() method
students=list(student.items())
print(students)

[('first_name', 'Zenistu'), ('last_name', 'Agatsuma'), ('gender', 'Male'), ('age', '16'), ('marital_status', 'Single'), ('skills', ['Problem solving', 'Time management', 'Communication']), ('country', 'Japan'), ('city', 'Kyoto'), ('address', '123, MG Road')]

In [ ]:
# 10. Delete one of the items in the dictionary
student.pop('age')
print(student)

{'first_name': 'Zenistu', 'last_name': 'Agatsuma', 'gender': 'Male', 'marital_status': 'Single', 'skills': ['Problem solving', 'Time management', 'Communication'], 'country': 'Japan', 'city': 'Kyoto', 'address': '123, MG Road'}

In [ ]:
# 11. Delete one of the dictionaries
del student['marital_status']
print(student)

{'first_name': 'Zenistu', 'last_name': 'Agatsuma', 'gender': 'Male', 'skills': ['Problem solving', 'Time management', 'Communication'], 'country': 'Japan', 'city': 'Kyoto', 'address': '123, MG Road'}