<a href="https://colab.research.google.com/github/christinsunil1115-cmd/assignment/blob/main/PythonBasicsExercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(2 + 3)

5

In [ ]:
print(3 - 1)

2

In [ ]:
print(2 * 3)

6

In [ ]:
print(3 / 2)

1.5

In [ ]:
print(3 ** 2)

9

In [ ]:
print(3 % 2)

1

In [ ]:
print(3 // 2)

1

In [ ]:
print(type(10))

<class 'int'>

In [ ]:
print(type(3.14))

<class 'float'>

In [ ]:
print(type(1 + 3j))

<class 'complex'>

In [ ]:
print(type('Rounded Professional Program'))

<class 'str'>

In [ ]:
print(type([1, 2, 3]))

<class 'list'>

In [ ]:
# Check the python version you are using

In [ ]:
!python --version

Python 3.12.11

In [ ]:
# Check the data type of 4 - 4j

In [ ]:
print(type(4 - 4j))

<class 'complex'>

In [ ]:
#  Find an Euclidian distance between (2, 3) and (10, 8)

In [ ]:
x1 =float(input("Enter the vlue : "))
y1 = float(input("Enter the value :"))
x2 =float(input("Enter the value :"))
y2 =float(input("Enter the value :"))
ecluddistance = ((x2 - x1)**2+(y2- y1)**2)
print(round(ecluddistance,2))

Enter the vlue : 3.2
Enter the value :6.4
Enter the value :5.2
Enter the value :9.6
14.24

In [ ]:
import math
x1 = 2
y1 = 3
x2 = 10
y2 = 8
ecluddistance = math.sqrt((x2 - x1)**2+(y2 - y1)**2)
print(round(ecluddistance,2))

9.43

In [ ]:
#Input the name and age from a user and store the values in variables

In [ ]:
user_name = input("Enter your name :")
user_age = int(input("Enter your age :"))
print("The Name of Person  ",user_name,  "is age is  ",user_age)

Enter your name :christin
Enter your age :21
The Name of Person   christin is age is   21

In [ ]:
#Type conversions
# Float to int
gravity = 9.88
print((gravity))

9.88

In [ ]:
# int to str
num_int = 10
print(num_int)                  # 10
num_str = str(num_int)
print(num_str)
# '10'

10
10

In [ ]:
#int to str
num_int = 10
num_str = str(num_int)
print(num_str)

10

In [ ]:
# int to str
num_int =10
print(num_int)
num_str =str(num_int)
print(num_str)

10
10

In [ ]:
# int to str
num_int =10
print(num_int)
num_str =str(num_str)
print(num_str)

10
10

In [ ]:
# str to int to float
num_str ='10'
num_float =float(num_str)
print('num_float',num_float)
num_int =int(num_float)
print('num_int',num_int)

num_float 10.0
num_int 10

In [ ]:
# str to list
first_name = 'RP2'
print(first_name)
first_name_to_list = list(first_name)
print(first_name_to_list)            # ['R', 'P', '2']

RP2
['R', 'P', '2']

In [ ]:
first = 'RP2'
first_name_to_list =list(first)
print(first_name_to_list)

['R', 'P', '2']

In [ ]:
first_person_name = 'christin'
first_name_to_list = list(first_person_name)
print(first_name_to_list)

['c', 'h', 'r', 'i', 's', 't', 'i', 'n']

In [ ]:
# Declare a variable is_married and assign a value to it

In [ ]:
is_married = True
print(is_married)

True

In [ ]:
# Declare a variable is_true and assign a value to it

In [ ]:
is_true = False
print(is_true)

False

In [ ]:
# Declare a variable is_light_on and assign a value to it

In [ ]:
is_light_on = True
print(is_light_on)

True

In [ ]:
#Declare a variable first_name and store your name in it
#Using the len() built-in function, find the length of your first name

In [ ]:
first_name = 'rps'
print(len(first_name))

3

In [ ]:
user_name =input("Enter User name : ")
print(len(user_name))

Enter User name : christin sunil
14

In [ ]:
# the length of your Comparefirst name and your last name

In [ ]:
first_name =input("Enter your First name: ")
last_name =input("Enter your last name: ")
if len(first_name)==len(last_name):
  print("The length of your fisrt name and your last name are equal")
else:
    print("not equal!")

Enter your First name: christin
Enter your last name: sunil
not equal!

In [ ]:
#Declare 5 as num_one and 4 as num_two

In [ ]:
num_one =5
num_two =4
print(num_one)
print(num_two)

5
4

In [ ]:
#Add num_one and num_two and assign the value to a variable total

In [ ]:
print(num_one + num_two)

9

In [ ]:
#Subtract num_two from num_one and assign the value to a variable diff

In [ ]:
print(num_one - num_two)

1

In [ ]:
#Multiply num_two and num_one and assign the value to a variable product

In [ ]:
print(num_one * num_two)

20

In [ ]:
#Divide num_one by num_two and assign the value to a variable division

In [ ]:
print(num_one / num_two)

1.25

In [ ]:
# Use modulus division to find num_two divided by num_one and assign the value
# to a variable remainder

In [ ]:
print(num_one % num_two)

1

In [ ]:
# Calculate num_one to the power of num_two and assign the value to a variable exp

In [ ]:
print(num_one ** num_two)

625

In [ ]:
#  Find floor division of num_one by num_two and assign the value to a variable
floor_division=(num_one // num_two)
print(floor_division)

1

In [ ]:
#1. Declare your age as integer variable
#2. Declare your height as a float variable
#3. Declare a variable that store a complex number
age =10
hieght =6.5
complex = 2+3j
print(age)
print(hieght)
print(complex)

10
6.5
(2+3j)

In [ ]:
#Write a script that prompts the user to enter
#side a, side b, and side c of the triangle.
#Calculate the perimeter of the triangle (perimeter = a + b + c).
side_a = int(input("enter side a"))
side_b = int(input("enter side b"))
side_c = int(input("enter side c"))
perimeter = side_a + side_b + side_c
print(perimeter)

enter side a23
enter side b33
enter side c44
100

In [ ]:
#Get length and width of a rectangle using prompt.
#Calculate its area (area = length x width) and perimeter (perimeter = 2 x (length + width))

In [ ]:
Length =int(input("Enter the Length : "))
Width =int(input("Enter the Width : "))
area = Length * Width
perimetre = 2 *(Length + Width)
print(area)
print(perimetre)

Enter the Length : 21
Enter the Width : 21
441
84

In [ ]:
# Slope is (m = y2-y1/x2-x1).
#Find the slope and Euclidean distance between
#point (2, 2) and point (6,10)

In [2]:
import math
x1 = 2
y1 = 2
x2 = 6
y2 = 10
m = (y2 - y1) /(x2 - x1)
ecluddistance = math.sqrt((x2 - x1)**2 +(y2 - y1)**2)
print(round(ecluddistance,2))
print("slop",m)

8.94
slop 2.0

In [ ]:
#Compare the slopes in previous tasks

In [ ]:
x = int(input("Enter the value : "))
y = x**2 + 6*x + 9
print(y)

Enter the value : -3
0

In [ ]:
# Use and operator to check if 'on' is found in both 'python' and 'dragon'

In [ ]:
a="python"
b="dragon"
if "on" in "python" and "dragon":
  print("on in both")
else:
  print("not found")

on in both

In [ ]:
a ='christin'
b ='sunil'
if "on" in "christin" and "sunil":
  print("on in both")
else:
  print("not found")

not found

In [ ]:
# I hope this course is not full of jargon.
#Use in operator to check if jargon is in the sentence.

In [ ]:
a= "I hope this course is not full of jargon."
b="jargon"
if b in a:
  print("jargon is in the sentence")
else:
  print("not found")

jargon is in the sentence

In [ ]:
# Find the length of the text python and convert the value to float and
#convert it to string

In [ ]:
length="python"
print(len(length))
print(float(len(length)))
print(str(length))

6
6.0
python

In [ ]:
 #Even numbers are divisible by 2 and the remainder is zero.
#How do you check if a number is even or not using python?

In [ ]:
num =3
if num % 2 == 0:
  print("the number is divisible by 2")
else:
  print("the number is  not divisible by 2")

the number is  not divisible by 2

In [ ]:
# Check if the floor division of 7 by 3 is equal to the int converted value of 2.7.

In [ ]:
fd=(7//3)
a=int(2.7)
if fd==a:
  print("equal")
else:
  print("not equal")

equal

In [ ]:
print(7//3)

2

In [ ]:
# Check if type of '10' is equal to type of 10

In [ ]:
if type('10') == type(10):
  print("equal")
else:
  print("not equal")

not equal

In [ ]:
#. Check if int('9.8') is equal to 10

In [ ]:
# Write a Python script that displays the following table
1 1 1 1 1
2 1 2 4 8
3 1 3 9 27
4 1 4 16 64
5 1 5 25 125

In [ ]:
for i in range(1,6):
  print(i,1,i**1,i**2,i**3)

1 1 1 1 1
2 1 2 4 8
3 1 3 9 27
4 1 4 16 64
5 1 5 25 125

In [ ]:
a = 3
if a > 0:
  print('A is positive')
else:
  print('A is negative')
# first condition met, 'A is positive' will be printed

A is positive

Get user input using input(“Enter your age: ”). If user is 18 or older, give
feedback: You are old enough to drive. If below 18 give feedback to wait for
the missing amount of years. <br>
Output: <br>
Enter your age: 30 <br>
You are old enough to learn to drive. <br>
Output: <br>
Enter your age: 15 <br>
You need 3 more years to learn to drive.

Compare the values of my_age and your_age using if … else. <br>Who is older
(me or you)? Use input(“Enter your age: ”) to get the age as input. <br>You can
use a nested condition to print 'year' for 1 year difference in age, 'years' for
bigger differences, and a custom text if my_age = your_age.<br> Output:
Enter your age: 30 <br>
You are 5 years older than me.

In [ ]:
'''input(“Enter your age: ”). If user is 18 or older,
 give feedback: You are old enough to drive.
If below 18 give feedback to wait for the missing amount of years.'''

#Ask the user to enter their age
age_of_user = int(input("Enter your age : "))

#check if the user is 18 years or older
if age_of_user >= 18:
  print("you are old enough to drive")

  #If the user is more then 1 year younger
elif age_of_user < 18:
  if age_of_user - 18 == 1:
    print("you are",18-age_of_user,"year older then me .")

  # print messsage for multiple years remaining
  else:
    print("Wait for the missing amount of years",18-age_of_user)

In [ ]:
'''Compare the values of my_age and your_age using if … else.
Who is older (me or you)? Use input to get the age as input.
You can use a nested condition to print 'year' for 1 year difference in age, 'years' for bigger differences, and a custom text if my_age = your_age.'''
# ask for both ages
my_age = int(input("Enter my Age : "))
your_age = int(input("Enter your Age : "))

#check if both ages are the same
if your_age == my_age:
  print("We are same age.")

  #check if the user is young
elif your_age < my_age:
  print("your are younger then me .")

  #calculate the age difference and check if the difference is exactly 1 year
elif your_age > my_age :
  if your_age - my_age ==1:
    print("You are",your_age-my_age,"Year older then me.")
  else:
    print("You are",your_age - my_age,"Years older then me.")

In [ ]:
#Write a code which gives grade to students according to theirs scores:
80-100, A
70-89, B
60-69, C
50-59, D
0-49, F

#Ask the user to input their marks
mark1 =int(input("Enter your mark:  "))

#check if the mark is between 80 and 100
if mark1>=80 and mark1 <=100:
  print("The grade :A")
#check if the mark is between 70 and 79
elif mark1 >= 70 and mark1<= 79:
  print("The grade :B")

  #check if the mark is betwen 60 and 69
elif mark1>=60  and mark1<= 69:
  print("The grade :C")

  #check if the mark is between 50 and 59
elif mark1 >= 50 and mark1 <=59:
  print("The grade :D")

  # If the mark is below 50,assign grade F
else:
  print("F")

Enter your mark:  40
F

In [ ]:
Check if the season is Autumn, Winter, Spring or Summer. If the user input is:
September, October or November, the season is Autumn. December, January
or February, the season is Winter. March, April or May, the season is Spring
June, July or August, the season is Summer

In [5]:
# Ask the user to enter the month
user =input(" Enter The Season :")

# Check if the month is in the Autumn months
if user == 'september' or user == 'october' or user == 'november' :
  print("It's Autumn")

  # Check if the month is in the Winter months
elif user == 'December' or user == 'january' or user == 'february':
  print("It's Winter")

  #Check if the month is in the spring months
elif user == 'march' or user == 'april' or user == 'may':
  print("It's Spring")

  #Check if the month is in the Summer months
elif user == 'june' or user == 'july' or user == 'august':
  print("IT's Summer")

  # If none of the above conditions are met, the input is invalid
else:
  print("wrong")

 Enter The Season :april
It's Spring