# **Python Basic Exercises**

In [ ]:
#1. Check the data type of 4 - 4j
type(4-4j)

In [ ]:
#2. Find an Euclidian distance between (2, 3) and (10, 8)
import math
x1=2
y1=3
x2=10
y2=8
eu=math.sqrt((x2-x1)**2+(y2-y1)**2)
print(round(eu,2))

In [ ]:
#3. Input the name and age from a user and store the values in variables
name=input("Enter your name :")
age=int(input("Enter your age :"))

In [ ]:
#4. Declare a variable is_married and assign a value to it
is_marrired="true"
print(is_marrired)

In [ ]:
#5. Declare a variable is_true and assign a value to it
is_true="true"
print(is_true)

In [ ]:
#6. Declare a variable is_light_on and assign a value to it
is_light="false"
print(is_light)

In [ ]:
#7. Declare a variable first_name and store your name in it
#Using the len() built-in function, find the length of your first name
first_name="Luffy"
len(first_name)

In [ ]:
#8. Compare the length of your first name and your last name
frist_name="Lu"
second_name="Luf"
print(frist_name==second_name)

In [ ]:
#9. Declare 5 as num_one and 4 as num_two
num_one=2
num_two=4
c=num_one*5
d=num_two*4
print(c ,"and", d)

In [ ]:
#10. Add num_one and num_two and assign the value to a variable total
a=5
b=10
c=a+b
print(c)

In [ ]:
#11. Subtract num_two from num_one and assign the value to a variable diff
a=5
b=10
c=a-b
print(c)

In [ ]:
#12. Multiply num_two and num_one and assign the value to a variable product
a=5
b=10
c=a*b
print(c)

In [ ]:
#13. Divide num_one by num_two and assign the value to a variable division
a=5
b=10
c=a/b
print(c)

In [ ]:
#14. Use modulus division to find num_two divided by num_one and assign the value
# to a variable remainder
a=5
b=10
c=a%b
print(c)

In [ ]:
#15. Calculate num_one to the power of num_two and assign the value to a variable exp
num_one=2
num_two=num_one**2
print(num_two)

In [ ]:
#16.Find floor division of num_one by num_two and assign the value to a variable floor_division
a=5
b=10
c=a//b
print(c)

In [ ]:
#17
#1. Declare your age as integer variable
#2. Declare your height as a float variable
#3. Declare a variable that store a complex number
age=25
height=160
num=(4+5j)
print(age ,height,num)

In [ ]:
#18. Write a script that prompts the user to enter
#side a, side b, and side c of the triangle.
#Calculate the perimeter of the triangle (perimeter = a + b + c).
side_a = int(input("Enter side a: "))
side_b = int(input("Enter side b: "))
side_c = int(input("Enter side c: "))

perimeter = side_a + side_b + side_c
print("Perimeter of the triangle:", perimeter)

In [ ]:
#19.Get length and width of a rectangle using prompt.
#Calculate its area (area = length x width) and perimeter (perimeter = 2 x (length + width))
length=int(input("Enter length:"))
width=int(input("Enter width:"))
area=length*width
per=2*(length*width)
print(area)
print(per)

In [ ]:
#20. Calculate the slope, x-intercept and y-intercept of y = 2x -2
x=int(input("Enter x:"))
y=2*x-2
print(y)

In [ ]:
#21. Slope is (m = y2-y1/x2-x1).
#Find the slope and Euclidean distance between
#point (2, 2) and point (6,10)
import math
x1=2
y1=2
x2=6
y2=10
m = (y2-y1)/(x2-x1)
eu=math.sqrt((x2-x1)**2+(y2-y1)**2)
print(m)
print(round(eu,2))

In [ ]:
#22. Compare the slopes in previous tasks
m=5.0
eu=4.0
print(m==eu)

In [ ]:
#23. Calculate the value of y (y = x^2 + 6x + 9).
#Try to use different x values and
#figure out at what x value y is going to be 0.
x=-3
y = x**2 + 6*x+9
print(y)

In [ ]:
#24. Use and operator to check if 'on' is found in both 'python' and 'dragon'
a="python"
b="dragon"
if "on" in a and "on"in b:
  print("on in both")
else:
  print("not found")

In [ ]:
#25. Find the length of the text python and convert the value to float and
#convert it to string
text="Monkey D Luffy"
length=len(text)
fl=float(length)
string=str(fl)
print("length is",length)
print("float is",fl)
print("string is",string)

In [ ]:
#26. I hope this course is not full of jargon.
#Use in operator to check if jargon is in the sentence.
text="I hope this course is not full of jargon."
if "jargon" in text:
  print("yes")
else:
  print("no")

In [ ]:
#27. Even numbers are divisible by 2 and the remainder is zero.
#How do you check if a number is even or not using python?
value=int(input("enter a value:"))
if value%2==0:
  print("it is divisible by 2")
else:
  print("it is not divisible by 2")

In [ ]:
#28. Check if the floor division of 7 by 3 is equal to the int converted value of 2.7.
a=(7//3)
b=2.7
if a==b:
  print("Same")
else:
  print("Not same")

In [ ]:
#29. Check if type of '10' is equal to type of 10
if type(10)==10:
  print("true")
else:
  print("false")

In [ ]:
#30. Check if int('9.8') is equal to 10
a=9.8
if a==10:
  print("True")
else:
  print("False")

In [ ]:
#31. Write a code which gives grade to students according to theirs scores:
#80-100, A
#70-89, B
#60-69, C
#50-59, D
#0-49, F
mark=int(input("enter a mark:"))
if mark>=80 and mark<=100:
  print("A")
elif mark>=70 and mark<=79:
   print("B")
elif mark>=60 and mark<=69:
  print("C")
elif mark>=50 and mark<=59:
    print("D")
else:
  print("F")

In [ ]:
#32.Check if the season is Autumn, Winter, Spring or Summer. If the user input is:
#September, October or November, the season is Autumn. December, January
#or February, the season is Winter. March, April or May, the season is Spring
#June, July or August, the season is Summer
season=input("Enter Season :").capitalize()
response = [
    ["September", "October", "November"],   # Autumn
    ["December", "January", "February"],    # Winter
    ["March", "April", "May"],              # Spring
    ["June", "July", "August"]              # Summer
]
if season in response[0]:
  print("Autumn")
elif season in response[1]:
  print("Winter")
elif season in response[2]:
  print("Spring")
elif season in response[3]:
  print("Summer")
else:
  print("not found")